// Fonts
$font-base: 'Proxima Nova Rg', Helvetica, sans-serif;
$font-base-sb: 'Proxima Nova Lt', Helvetica, sans-serif;
$font-secondary-rg: 'HelveticaNeue', Helvetica, sans-serif;
$font-secondary-b: 'Helvetica Neue', Helvetica, sans-serif;




